*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background:  black;
   color: #fff;
}
#header{
    width: 100%;
    height:100vh;
}

.pic{
    margin-top: -300px;
    margin-left: 700px;
}
/* From Uiverse.io by gharsh11032000 */ 
.card {
    position: relative;
    width: 190px;
    height: 254px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
   
  }
  
  .card::before {
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 200px;
    height: 264px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card::after {
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
  }
  
  .heading {
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
  }
  
  .card p:not(.heading) {
    font-size: 14px;
  }
  
  .card p:last-child {
    color: #e81cff;
    font-weight: 600;
  }
  
  .card:hover::after {
    filter: blur(30px);
  }
  
  .card:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  }
  
  
.container{
  padding: 5px 5%;  

}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}
.logo{
    width: 140px;
}

.card1 {
    width: 150px;
    height: 50px;
    
    perspective: 1000px;
    background-color: #090909;
    border-radius: 10px;
   margin-right: 150px;
   

}
.card1-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.999s;
  }
  .card1-inner.rotate {
    transform: rotateY(180deg);
}
  
.card1-front,
.card1-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    padding-top: 15px;
}

.card1-front {
    background-color: #1f2085;
    border-radius: 10px;
    transform: rotateY('180deg');
}


.card1-back {
    background-color: #1f2085;
    border-radius: 10px;
    transform: rotateY(180deg);
}

nav ul li{
display: inline-block;
list-style:none;
margin:10px 20px;

}
nav ul li a {
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content:'';
    width:0 ;
    height: 3px;
    background: #12188a;
    position: absolute;
    left:0;
    bottom:-6px;
    transition:0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 10px;
    color: #fff;
}
.header-text h1 span{
    color:#371bd8 ;
}

.button {
    line-height: 1;
    background-color: transparent;
    cursor: pointer;
 
    align-items: center;
    gap: 0.35em;
    padding: 0.75em 1em;
    padding-right: 1.25em;
    color: #fff;
    border: 1px solid transparent;
    font-weight: 700;
    border-radius: 2em;
    font-size: 1rem;
    box-shadow: 0 0.7em 1.5em -0.5em hsla(249, 62%, 51%, 0.745);
    transition: transform 0.3s;
  
    background: linear-gradient(
      90deg,
      rgba(77, 54, 208, 1) 0%,
      rgba(132, 116, 254, 1) 100%
    );
  }
  
  .button__icon {
    width: 1.5em;
    height: 1.5em;
  }
  
  .button:hover {
    border-color: #f4f5f2;
  }
  
  .button:active {
    transform: scale(0.98);
    box-shadow: 0 0.5em 1.5em -0.5em hsla(249, 62%, 51%, 0.745);
  }
  
/* ----------about--------- */
#about{
    padding:150px 0;
    color:#e8e9f6
    
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
}
.about-col-1{
    flex-basis: 35%;

}
.about-col-1 img{
    width: 80%;
    border-radius: 15px;
    height: 400px;
}
.about-col-2{
    flex-basis: 60%;

}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:#fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor:pointer;
    position: relative;
}
.tab-links::after{
    content:'';
    width:0;
    height: 3px;
    background: #5195bf;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition:0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style:none;
    margin:10px 0;
    margin-left:-20px;
}
.tab-contents ul li span{
    color:#7a7fda;
    font-size:14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}
/* From Uiverse.io by gharsh11032000 */ 

  
/* ------------------portifolio-------------------- */
#portifolio{
    padding:30px 0;
    
}
 .work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 10px;
    margin-top: 50px;
 
 }

 .work{
    background-image: linear-gradient(to right, #8741f8, #753df7, #613af6, #4637f5, #1835f4);
    padding: 30px;
    font-size: 13px;
    font-weight:300px ;
    border-right: 10px;
    position: relative;
    overflow: hidden;
    height: 300px;
    border-radius: 10px;
   
    text-align: center;
    margin-top: 50px;
 }
 .work h1{
    display: block;
    transition: transform 0.5s;
  

 }
.layer{
    width:100% ;
    height: 0;
     background-image: linear-gradient(to bottom, #df70e9, #a162d9, #4f79c2f5, #11598cc0, #0d6094af);
     border-radius: 10px;
     position: absolute;
     left: 0;
     bottom: 0;
     overflow:hidden;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     padding: 0 40px;
     text-align: center;
      font-size: 14px;
      transition: height 0.5s ;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;

}
.layer a{
margin-top:20px;
color: #090909;
text-decoration: none;
font-size: 18px;
line-height: 60px;
width: 60px;
height: 60px;
border-radius: 50px;
text-align: center;
}
.work:hover h1{
    transform:scale(1.1);
}
.work:hover .layer{
    height: 100%;
}



/* ------------------------contact--------------------- */
.contact-left{
    flex-basis:35%;
}
.contact-right{
    flex-basis:60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #270689;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons a{
    text-decoration: none;
    font-size:30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color:#12188a;
    transform: translateY(-5px); 
}
.btn1{
    display: block;
    margin: 50px auto;
    width: fit-content;
border: 1px solid #12188a;
padding: 14px 50px;
border-radius: 6px;
text-decoration: none;
color: #fff;
transition: background 0.5s;
}
.btn1:hover{
    background: #12188a;
}
.btn1.btn2{
    display: inline-block;
    background-color: #12188a;
}
.contact-right form{
 width:100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin:15px 0 ;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size:18px; 
    margin-top:20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    
}
/* From Uiverse.io by vinodjangid07 */ 
.btn4 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
    margin-left: 1200px;
  }
  
  .svgIcon {
    width: 12px;
    transition-duration: 0.3s;
  }
  
  .svgIcon path {
    fill: white;
  }
  
  .btn4:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(181, 160, 255);
    align-items: center;
  }
  
  .btn4:hover .svgIcon {
    /* width: 20px; */
    transition-duration: 0.3s;
    transform: translateY(-200%);
  }
  
  .btn4::before {
    position: absolute;
    bottom: -20px;
    content: "Back to Top";
    color: white;
    /* transition-duration: .3s; */
    font-size: 0px;
  }
  
  .btn4:hover::before {
    font-size: 13px;
    opacity: 1;
    bottom: unset;
    /* transform: translateY(-30px); */
    transition-duration: 0.3s;
  }
  
/* -------------css for small screens------- */
nav .fa-solid{
    display: none;
}
@media only screen and (max-width: 600px){
.header-text{
    margin-top: 100%;
    font-size: 30px;
}
nav .fa-solid{
    display: block;
    font-size: 25px;
}
nav ul{
    background: #12188a;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.5s;
}
nav ul li{
 display: block;
 margin: 25px;
}
nav ul .fa-solid{
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
}
.sub-title{
    font-size: 40px;

}
.about-col-1,.about-col-2{
    flex-basis: 100%;
}
.about-col-1{
    margin-bottom:30px;
}
.about-col-2{
    font-size: 14px;
}
.tab-links{
    font-size: 16px;
    margin-right: 20px;
}
.contact-left, .contact-right{
    flex-basis: 100%;
}
.copyright{
    font-size:14px;
}

}
#msg{
    color:#61b752;
    margin-top: -40px;
    display: block;
}

